<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
    Viagra Page
		<br />
		<a href="/logout">logout</a>
		<a href="/login">login</a>
		<a href="/signup">signup</a>

		<h2>Source Materials</h2>
    <%- JSON.stringify(sourceMaterials) %>

		<h2>Transfer to Manufacturer</h2>
    <%- JSON.stringify(sildenafilTransfer) %>

		<h2>Manufacturer Materials</h2>
    <%- JSON.stringify(sildenafil) %>

		<h2>Transfer to Pharmacy</h2>
    <%- JSON.stringify(viagraTransfer) %>

		<h2>Pharmacy Material</h2>
    <%- JSON.stringify(viagra) %>
	</body>
</html>
